body {
    background-image: url('background.jpeg');
}
.Title {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    -webkit-text-stroke: 0%;
    -webkit-text-stroke-color: black;
}
.outline {
    display: inline-block;
    padding: 2px 5px;
    background: #ffffff;
    color: black;
    text-decoration: none;
    border-radius: 3px;
    font-weight: bold;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #22ff00;
    color: black;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}
.btn:hover {
    background: #179004;
}
.buttonBlack {
    display: inline-block;
    padding: 10px 20px;
    background: white;
    color: black;
    border-radius: 6px;
    font-weight: bold;
}
.buttonBlack:hover {
    background:#888888;
}
.disclaimer {
    background-color: #22ff00;
}